{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container my-5 py-5">
    <div class="row my-5">
        <div class="col text-end">
            <img src="{% static 'images/profile1.jpg' %}" alt="" style="width: 200px;">

        </div>
        <div class="col">
            <h1>This is my banner</h1>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for post in posts %}
        <div class="col">
            <div class="card">
                <a href="{{ post.get_absolute_url }}"><img src="{{ post.image.url }}" class="card-img-top"
                        alt="..."></a>
                <div class="card-body">
                    <a href="{{ post.get_absolute_url }}">
                        <h5 class="card-title">{{ post.title }}</h5>
                    </a>
                    <p class="card-text">{{ post.body }}</p>
                </div>
            </div>
        </div>
        {% empty %}
        <h1>No post lists</h1>
        {% endfor %}
    </div>

</div>
{% endblock %}